<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" /> 
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">
    <script src="resource/angular.min.js"></script>

    <script type="text/javascript">

var app = angular.module('myApp', []);

app.config(['$locationProvider', function($locationProvider) {
        $locationProvider.html5Mode(true);
    }]);

app.controller('myCtrl', function($scope,$http,$location) {
    $scope.club = {
        clubName:"",
        clubId:0
    };
    var parameters = $location.search();
    if(parameters.clubId){
        $http({
          method: 'GET',
          url: '/clubs/'+parameters.clubId
        }).then(function successCallback(response) {
              var club  = response.data.club;
              if (club){
                $scope.club.clubName = club.club_name;
                $scope.club.clubPic = club.club_pic;
                console.log($scope.club.clubPic);
                $scope.club.clubIntro = club.club_intro;
                $.toptip('Welcome to '+$scope.club.clubName+' Toastmasters club', 'success');
                $(".swiper-container").swiper();
              }else{
                $.toptip('NO CLUB FOUND', 'error');
              }
          }, function errorCallback(response) {
              $.toptip(response.data.error, 'error');
        }); 
    }else{
        $.toptip('NO CLUB FOUND', 'error');
        // redirect to toastmaster club list laster
    }

    

});

    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">{{club.clubName}} Toastmasters Club</div>
      <div class="weui-panel__bd"> 
            <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
              <div class="swiper-wrapper" style="height:auto">
                <div class="swiper-slide" style="height:auto"><img ng-src="{{club.clubPic}}" alt=""></div>
              </div>
            </div>
            <article class="weui-article">
                <section>
                    {{club.clubIntro}}
                </section>
            </article>
      </div>
      <div class="weui-panel__ft">
            <div class="weui-footer">
              <p class="weui-footer__text">Supported by 大城小爱工作室</p>
              <p class="weui-footer__text">Copyright © 2017-2018 dcxagzs@163.com</p>
            </div>  
      </div>  
    </div>
      
    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    <script src="resource/swiper.min.js"></script>
    <script src="resource/city-picker.min.js"></script>

</body>
</html>
