<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" /> 
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="css/icono.min.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">
    <script src="resource/angular.min.js"></script>

    <script type="text/javascript">

var app = angular.module('myApp', []);

app.config(['$locationProvider', function($locationProvider) {
        $locationProvider.html5Mode(true);
    }]);

app.controller('myCtrl', function($scope,$http,$location,$window) {
    $scope.club = {
        clubName:"",
        clubId:0
    };
    var parameters = $location.search();
    if(parameters.clubId){
        $http({
          method: 'GET',
          url: '/clubs/'+parameters.clubId
        }).then(function successCallback(response) {
              var club  = response.data.club;
              if (club){
                $scope.club = club;
                $.toptip('Welcome to '+$scope.club.club_name+' Toastmasters club', 'success');
                $(".swiper-container").swiper();
              }else{
                $.toptip('NO CLUB FOUND', 'error');
              }
          }, function errorCallback(response) {
              $.toptip(response.data.error, 'error');
        }); 
    }else{
        $.toptip('NO CLUB FOUND', 'error');
        // redirect to toastmaster club list laster
    }

    $scope.jumpTo = function (page){
        var url = "/"+page+"?clubId="+$scope.club.club_id;
        $location.url(url);
        $window.location.reload();
    }
});

    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">{{club.club_name}} Toastmasters Club</div>
      <div class="weui-panel__bd"> 
            <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
              <div class="swiper-wrapper" style="height:auto">
                <div class="swiper-slide" style="height:auto"><img ng-src="{{club.club_pic}}" alt=""></div>
              </div>
            </div>
            <div class="weui-grids">
              <a href="{{club.club_intro_link}}" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                  <i class="icono-home"></i>
                </div>
                <p class="weui-grid__label">
                  Home
                </p>
              </a>

              <a href="javascript:" ng-click="jumpTo('officers.html')" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                  <i class="icono-support"></i>
                </div>
                <p class="weui-grid__label">
                  Officers
                </p>
              </a>

              <a href="javascript:" ng-click="jumpTo('guests.html')" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                  <i class="icono-gplus"></i>
                </div>
                <p class="weui-grid__label">
                  Guests
                </p>
              </a>

               <a href="javascript:" ng-click="jumpTo('members.html')" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                  <i class="icono-user"></i>
                </div>
                <p class="weui-grid__label">
                  Members
                </p>
              </a>

               <a href="{{club.club_meeting_link}}" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                  <i class="icono-hamburger"></i>
                </div>
                <p class="weui-grid__label">
                  Meetings
                </p>
              </a>

              <a href="javascript:" ng-click="jumpTo('evlist.html')" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                  <i class="icono-comment"></i>
                </div>
                <p class="weui-grid__label">
                  Evalutions
                </p>
              </a>

              <a href="" class="weui-grid js_grid">
                <div class="weui-grid__icon">
                  <i class="icono-sitemap"></i>
                </div>
                <p class="weui-grid__label">
                  Settings
                </p>
              </a>

          </div>
      </div>
    </div>
    
    <div ng-include="'foot.html'"></div>  
    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    <script src="resource/swiper.min.js"></script>
    <script src="resource/city-picker.min.js"></script>

</body>
</html>
