<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">

</head>
<body>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">ActNow Club Evalutions</div>
      <div class="weui-panel__bd">
            
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">Evalutor</label></div>
              <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="your name">
              </div>
            </div>
            <div class="weui-cells">
              <div class="weui-cell weui-cell_select weui-cell_select-before">
                <div class="weui-cell__hd">
                  <select class="weui-select" name="select2">
                    <option value="1">member</option>
                    <option value="2">non-member</option>
                  </select>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" style="display:hidden;" type="text" placeholder="speaker's name">
                    <select class="weui-select" name="select2">
                      <option value="1">A</option>
                      <option value="2">B</option>
                    </select>
                </div>
              </div>
            </div>

            <div class="weui-cell">
              <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="evaluator report" rows="5"></textarea>
                <div class="weui-textarea-counter"><span>0</span>/400</div>
              </div>
            </div>
            <a href="javascript:;" class="weui-btn weui-btn_primary">submit</a>
       </div>
    </div>


    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    <script src="resource/swiper.min.js"></script>
    <script src="resource/city-picker.min.js"></script>

    
</body>
</html>
