<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">

</head>
<body>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">ActNow Club Meetings</div>
      <div class="weui-panel__bd">
            
          <div class="weui-panel">
            <div class="weui-panel__bd">
              <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">Let's debate.</h4>
                <div class="weui-media-box__desc">
                      <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                              <img class="weui-media-box__thumb" src="img/acs.jpg">
                            </div>
                            <div class="weui-media-box__bd">
                              <h4 class="weui-media-box__title">New friends and Old friends to join us in ACTNOW !!!!!</h4>
                              <p class="weui-media-box__desc">2017/6/22</p>
                            </div>
                          </a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    <script src="resource/swiper.min.js"></script>
    <script src="resource/city-picker.min.js"></script>
    
</body>
</html>
