<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">

</head>
<body>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">ActNow Club</div>
      <div class="weui-panel__bd">
          <div class="weui-flex">
            <div class="weui-flex__item" style="padding:20px; display:block; text-align: center;">
                <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000" >
                    <div class="swiper-wrapper" style="height:auto">
                      <div class="swiper-slide" style="height:auto"><img style="width:50%" src="img/test.JPG" alt=""></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
              <label class="weui-form-preview__label">Name</label>
              <em class="weui-form-preview__value">Manager</em>
            </div>
            <div class="weui-form-preview__bd">
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">Work</label>
                <span class="weui-form-preview__value">software engineer</span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">Contact</label>
                <span class="weui-form-preview__value">***@***.com</span>
              </div>
            </div>
          </div>
          <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
              <label class="weui-form-preview__label">CC Status</label>
              <em class="weui-form-preview__value">CC6 Vocal Variety</em>
            </div>
            <div class="weui-form-preview__bd">
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label"><i class="weui-icon-success"></i> CC1</label>
                <span class="weui-form-preview__value">
                    Evalution report
                </span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label"><i class="weui-icon-success"></i> CC2</label>
                <span class="weui-form-preview__value">
                    Evalution report
                </span>
              </div>
            </div>
          </div>
          <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
              <label class="weui-form-preview__label">CL Status</label>
              <em class="weui-form-preview__value">CL1 listening</em>
            </div>
            <div class="weui-form-preview__bd">
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">TM</label>
                <span class="weui-form-preview__value">
                    <i class="weui-icon-success"></i>
                </span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">TIMER</label>
                <span class="weui-form-preview__value">
                    <i class="weui-icon-success"></i>
                </span>
              </div>
              <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">TIMER</label>
                <span class="weui-form-preview__value">
                    <i class="weui-icon-warn"></i> 
                </span>
              </div>
            </div>
            <div class="weui-form-preview__ft">
                <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">back to member list</button>
                <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">attend meeting to achieve goals</button>
            </div>
          </div>
      </div>
    </div>


    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    <script src="resource/swiper.min.js"></script>
    <script src="resource/city-picker.min.js"></script>

    
</body>
</html>
