<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" /> 
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">
    <script src="resource/angular.min.js"></script>

    <script type="text/javascript">

var app = angular.module('myApp', []);

app.config(['$locationProvider', function($locationProvider) {
        $locationProvider.html5Mode(true);
    }]);

app.controller('myCtrl', function($scope,$http,$location) {
    $scope.club = {
        clubName:"",
        clubId:0
    };
    var parameters = $location.search();
    if(parameters.clubId){
        $http({
          method: 'GET',
          url: '/clubs/'+parameters.clubId
        }).then(function successCallback(response) {
              var club  = response.data.club;
              if (club){
                $scope.club = club;
                $.toptip('Welcome to '+$scope.club.clubName+' Toastmasters club', 'success');
                $(".swiper-container").swiper();

                $http({
                      method: 'GET',
                      url: '/clubs/'+parameters.clubId+"/officers"
                }).then(function successCallback(response) {
                      $scope.officers  = response.data.officers;
                      if ($scope.officers){
                      }else{
                          $.toptip('NO officers found', 'error');
                      }
                 }, function errorCallback(response) {
                      $.toptip(response.data.error, 'error');
                 }); 

              }else{
                $.toptip('NO CLUB FOUND', 'error');
              }
          }, function errorCallback(response) {
              $.toptip(response.data.error, 'error');
        }); 

        
    }else{
        $.toptip('NO officers found', 'error');
        // redirect to toastmaster club list laster
    }
});

    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">{{club.club_name}} Club Officers</div>
      <div class="weui-panel__bd">
          <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000">
             <div class="swiper-wrapper" style="height:auto">
               <div class="swiper-slide" style="height:auto"><img ng-src="{{club.club_officer_pic}}" alt=""></div>
             </div>
          </div>  
          <div class="weui-panel" ng-repeat="officer in officers">
            <div class="weui-panel__bd">
              <div class="weui-media-box weui-media-box_text">
                <h4 class="weui-media-box__title">{{officer.officer_role}}</h4>
                <div class="weui-media-box__desc">
                      <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                          <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                              <img class="weui-media-box__thumb" ng-src="{{officer.officer_offpic}}">
                            </div>
                            <div class="weui-media-box__bd">
                              <h4 class="weui-media-box__title">{{officer.officer_name}}</h4>
                              <p class="weui-media-box__desc">{{officer.officer_intro}}</p>
                            </div>
                          </a>
                        </div>
                      </div>
                </div>
                <ul class="weui-media-box__info">
                  <li class="weui-media-box__info__meta">{{officer.role_intro}}</li>
                </ul>
              </div>
            </div>
          </div>

      </div>
    </div>

    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    <script src="resource/swiper.min.js"></script>

</body>
</html>
