<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/toastmasters/" /> 
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="css/icono.min.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">
    <script src="resource/angular.min.js"></script>

    <script type="text/javascript">

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$location) {
    $scope.club = {
        clubName:"",
        clubId:0
    };
    var parameters = $location.search();
    if(parameters.clubId){
        $http({
          method: 'GET',
          url: '/clubs'
        }).then(function successCallback(response) {
              var clubs  = response.data.club;
              if (clubs){
                $.toptip('Welcome to Toastmasters clubs', 'success');
              }else{
                $.toptip('NO CLUB FOUND', 'error');
              }
          }, function errorCallback(response) {
              $.toptip(response.data.error, 'error');
        }); 
    }else{
        $.toptip('NO CLUB FOUND', 'error');
    }

});

    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">


    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">Toastmasters Clubs</div>
      <div class="weui-panel__bd"> 
            
          

      </div>  
    </div>
      
    <div ng-include="'foot.html'"></div>  
    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    <script src="resource/swiper.min.js"></script>
    <script src="resource/city-picker.min.js"></script>

</body>
</html>
