<html>
<head>
    <meta charset="UTF-8">
    <title>TOASTMASTERS CLUB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/toastmasters/" /> 
    <link rel="stylesheet" href="resource/app.css">
    <link rel="stylesheet" href="resource/weui.min.css">
    <link rel="stylesheet" href="resource/jquery-weui.min.css">
    <script src="resource/angular.min.js"></script>

    <script type="text/javascript">

var app = angular.module('myApp', []);

app.config(['$locationProvider', function($locationProvider) {
        $locationProvider.html5Mode(true);
    }]);

app.controller('myCtrl', function($scope,$http,$location,$window) {
    $scope.club = {};
    var parameters = $location.search();
    if(parameters.clubId && parameters.memberId){
        $http({
          method: 'GET',
          url: '/clubs/'+parameters.clubId
        }).then(function successCallback(response) {
              var club  = response.data.club;
              if (club){
                $scope.club = club;
                $.toptip('Welcome to '+club.club_name+' Toastmasters club', 'success');

                $http({
                      method: 'GET',
                      url: '/clubs/'+parameters.clubId+'/members/'+parameters.memberId
                }).then(function successCallback(response) {
                      var memobj = response.data.result;
                      if (memobj){
                        $scope.member = memobj.member;
                        $scope.CCStatus = memobj.CCStatus;
                        $scope.CLStatus = memobj.CLStatus;
                      }else{
                          $.toptip('NO members found', 'error');
                      }


                 }, function errorCallback(response) {
                      $.toptip(response.data.error, 'error');
                 }); 

              }else{
                 $.toptip('NO members FOUND', 'error');
              }

          }, function errorCallback(response) {
              $.toptip(response.data.error, 'error');
        }); 

        
    }else{
        $.toptip('wrong criterias for search', 'error');

        // redirect to member list
    }


    $scope.applyCC = function(ccStatus){
          $http({
                method: 'GET',
                url: "/clubs/"+$scope.member.club_id+"/members/"+$scope.member.member_id+"/applycc/"+ccStatus.cc_id
          }).then(function successCallback(response) {
                $.toptip("Apply Succeed. waiting for approval", 'success');
                ccStatus.ccr_status = 0;
           }, function errorCallback(response) {
                $.toptip("Apply failed, please try again later.", 'error');
           }); 
    };

    $scope.applyCL = function(clStatus){
          $http({
                method: 'GET',
                url: "/clubs/"+$scope.member.club_id+"/members/"+$scope.member.member_id+"/applycl/"+clStatus.cl_id
          }).then(function successCallback(response) {
                $.toptip("Apply Succeed. waiting for approval", 'success');
                clStatus.clr_status = 0;
           }, function errorCallback(response) {
                $.toptip("Apply failed, please try again later.", 'error');
           }); 
    };

    $scope.backToMembers = function(){
        var url = "/toastmasters/members.html?clubId="+$scope.club.club_id;
        window.location.href = url;
    }

});

    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">{{club.club_name}} Club Members</div>
      <div class="weui-panel__bd">
          <div class="weui-flex">
            <div class="weui-flex__item" style="padding:20px; display:block; text-align: center;">
                <div class="swiper-container" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="1000" >
                    <div class="swiper-wrapper" style="height:auto">
                      <div class="swiper-slide" style="height:auto"><img style="width:50%" ng-src="{{member.member_pic}}" alt=""></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
              <label class="weui-form-preview__label">Name</label>
              <em class="weui-form-preview__value">{{member.member_name}}</em>
            </div>
             <div class="weui-form-preview__item">
                <span class="weui-form-preview__label" style="padding:20px;">{{member.member_intro}}</span>
            </div>
          </div>
          <div class="weui-form-preview">
            <div class="weui-panel__hd">
                <em class="weui-form-preview__value">CC Status</em>
            </div>
            <div class="weui-form-preview__bd">
              <div class="weui-form-preview__item" ng-repeat="css in CCStatus | orderBy:'cc_id' " style="padding:1px;">
                <label class="weui-form-preview__label" style="text-align: left; text-align-last: left; max-width: 70%;">{{css.cc_type}}{{css.cc_level}}: {{css.cc_name}}</label>
                <span class="weui-form-preview__value">
                    <i ng-if="css.ccr_status != null"  ng-class="{'weui-icon-waiting': (css.ccr_status == 0),'weui-icon-success':(css.ccr_status == 1) }"></i>
                    <div class="button_sp_area">
                    <a ng-if="css.ccr_status == null" 
                      href="javascript:void(0);" 
                      ng-click="applyCC(css)" 
                      class="weui-btn weui-btn_mini weui-btn_primary">apply</a>
                    </div>
                </span>
              </div>
            </div>
          </div>
          <div class="weui-form-preview">
            <div class="weui-panel__hd">
                <em class="weui-form-preview__value">CL Status</em>
            </div>
            <div class="weui-form-preview__bd">
              <div class="weui-form-preview__item"  ng-repeat="cls in CLStatus | orderBy:'cl_id'" style="padding:1px;">
                <label class="weui-form-preview__label" style="text-align: left; text-align-last: left; max-width: 70%;">{{cls.cl_type}}{{cls.cl_level}}:{{cls.cl_name}}[{{cls.cc_role}}]</label>
                <span class="weui-form-preview__value">
                    <i ng-if="cls.clr_status != null" ng-class="{'weui-icon-waiting': (cls.clr_status == 0),'weui-icon-success':(cls.clr_status == 1) }"></i>
                    <a ng-if="cls.clr_status == null" 
                      href="javascript:void(0);" 
                      ng-click="applyCL(cls)"
                      class="weui-btn weui-btn_mini weui-btn_primary">apply</a>
                </span>
              </div>
            </div>
            <div class="weui-form-preview__ft">
                <a ng-if="club.club_id" class="weui-form-preview__btn weui-form-preview__btn_primary" href='javascript:void(0);' ng-click="backToMembers()">Members</a>
                <a ng-if="club.club_meeting_link" 
                type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" ng-href="{{club.club_meeting_link}}">Attend meetings</a>
             </div>
          </div>
      </div>
    </div>

    <script src="resource/jquery.min.js"></script>
    <script src="resource/jquery-weui.min.js"></script>
    
</body>
</html>
